*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    padding: 20px 0;
}



.budget_card{
    margin: 10px 0;
}

.top_right{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.top_left{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.font_awesome{
    font-size: 30px;
}

.money{
    color: green;
    font-size: 25px;
}

ul {
    list-style-type: none;
    color: red;
    font-size: 20px;
    font-weight: bold;
}


@media only screen and (min-width: 550px){
    .content{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .flex-container{
        width: 45%;
    }

    .right_text{
        width: 45%;
    }
}